.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 32px;
    background: #fff;
}

.formTitle {
    font-size: 20px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    line-height: 120%;
    color: #101828;
}

.formDescription {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #8d929a;
}

.form input,
.form textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.form button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;

    border-radius: 12px;
    width: 156px;
    height: 44px;

    background: #3470ff;

    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

.form button:hover {
    background-color: #1f5ae0;
}