.button {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    color: #fff;

    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Default (filled blue) */
.default {
    background-color: #3470ff;
    color: #ffffff;
}

.default:hover {
    background-color: #1e90ff;
}

/* Outline variant */
.outline {
    background-color: transparent;
    border: 2px solid #3470ff;
    color: #3470ff;
}

.outline:hover {
    background-color: #3470ff;
    color: #ffffff;
}

/* Disabled variant */
.disabled {
    background-color: #d3d3d3;
    color: #ffffff;
    cursor: not-allowed;
}

.text {
    margin: 0;
}