.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 276px;
    height: 44px;
    
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    line-height: 125%;
    background-color: #3470ff;
    color: white;

    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1e90ff;
}

.disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.loader {
    display: flex;
    align-items: center;
    gap: 8px;
    animation: pulse 1.2s infinite ease-in-out;
}

.car {
    font-size: 20px;
    animation: drive 1.2s infinite linear;
}

@keyframes drive {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}