.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 924px;
  height: 68px;
}

.itemsContainer {
  display: flex;
  gap: 16px;
}

.select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  background-color: #F7F7F7;
}

.mileage input {
  width: 100px;
  padding: 8px;
  margin-right: 8px;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
}

.button {
  padding: 12px 24px;
  background-color: #4169E1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}